/* Search icon by IcoMoon, made with http://icomoon.io/app/ */
.sb-search {
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	display: inline-block;
    min-width: 60px;
    position: relative;
    line-height: 29px;
    width: 0;
}

.sb-search-input {
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #676767;
    font-size: 12px;
    height: 30px;
    margin: 0;
    outline: medium none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}
.sb-search-input:focus {
    background: none repeat scroll 0 0 #fff;
}
.sb-search-input::-webkit-input-placeholder {
	color: #111111;
	font-weight: bold;
}

.sb-search-input:-moz-placeholder {
	color: #111111;
	font-weight: bold;
}

.sb-search-input::-moz-placeholder {
	color: #111111;
	font-weight: bold;
}

.sb-search-input:-ms-input-placeholder {
	color: #111111;
	font-weight: bold;
}

.fa-search,
.sb-search-submit  {
	cursor: pointer;
    display: inline-block;
    left: -20px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 7px;
}

.sb-search-submit {
	background: transparent; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.fa-search {
	color: #676767;
	z-index: 90;
	font-size: 12px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}

.sb-search.sb-search-open .fa-search,
.no-js .sb-search .fa-search {
	/*background: #da6d0d;
	color: #fff;
	z-index: 11;*/
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
