/** 
 * Everslider - Responsive jQuery Carousel Plugin
 * Version 1.4
*/

.everslider {
    width: 91%;
    overflow: hidden;
    margin: auto;
 	padding:2px 34px; 
}

.everslider .es-slides {
	position: relative;
	width: 100000px;
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-transform: translate3d(0,0,0); /* fix jerking */
}

.everslider .es-slides > li {
	float: left;
	padding: 0!important;
    border: 0!important;
	width: 134px; /* default slide width */
	height: 40px; /* default slide height */
    /*margin: 0 20px;*/
    -webkit-transform: translate3d(0,0,0); /* fix jerking */
}

.everslider .es-slides img {
	/*width: 100%;*/
	width: auto;
	height:auto;
	min-height: auto;
	max-height: 100%;
	max-width: none;
}

.everslider .es-slides a > img {
	vertical-align: top;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.everslider .es-slides * {
	-moz-user-select: text;
    -webkit-user-select: text;
	-webkit-user-drag: none;
}

/* Preload */

.everslider {
	background: url(../images/preload.gif) no-repeat center;
}

.everslider.es-slides-ready {
	background: none;
}

.es-slides {
	visibility: hidden;
}

.es-slides-ready .es-slides {
	visibility: visible;
}


/* Navigation */

.es-navigation a {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    padding: 7px;
}

.es-navigation .es-prev { left: 0 }
.es-navigation .es-next { right: 0 }

.es-navigation .es-first,
.es-navigation .es-last {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: default;
}

.es-navigation a span {
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
}

.es-navigation .es-prev span {
	background: url(../images/left_arrow.png) no-repeat 0 0;
}

.es-navigation .es-next span {
	background: url(../images/right_arrow.png) no-repeat 0px 0;
}

.es-navigation .es-prev span.alt-arrow {
	background: url(../images/left_arrow.png) no-repeat 0 -20px;
}

.es-navigation .es-next span.alt-arrow {
	background: url(../images/right_arrow.png) no-repeat -20px -20px;
}

/* Pagination */

.es-pagination {
    position: absolute;
    left: 50%;
    bottom: 10px;
}

.es-pagination a {
    position: relative;
    right: 50%;
    float: left;
    width: 10px;
    height: 10px;
    overflow: hidden;
    background: url(../images/bullets.png) no-repeat 0 0;
    margin: 0 5px 0;
    text-indent: -9999px;
}

.es-pagination .es-active {
	background: url(../images/bullets.png) no-repeat -10px 0;
}

/* Ticker */

.es-ticker {
	position: absolute;
    bottom: 0;
    right: 0;
}

.es-ticker a {
	display: block;
    padding: 7px;
    background: #eee;
}

.es-ticker a span {
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
}

.es-ticker .es-play span {
    background: url(../images/ticker.png) no-repeat 0 0;
}

.es-ticker .es-pause span {
    background: url(../images/ticker.png) no-repeat -20px 0;
}

/* Retina */

@media only screen and (-webkit-min-device-pixel-ratio:1.5) {
	/* Navigation */
	.es-navigation .es-prev span {
	    background: url(../images/arrows@2x.png) no-repeat 0 0;
	    background-size: 40px 40px;
	}
	.es-navigation .es-next span {
	    background: url(../images/arrows@2x.png) no-repeat -20px 0;
	    background-size: 40px 40px;
	}
	/* Pagination */
	.es-pagination a {
	    background: url(../images/bullets@2x.png) no-repeat 0 0;
	    background-size: 20px 10px;
	}
	.es-pagination a.es-active {
	    background: url(../images/bullets@2x.png) no-repeat -10px 0;
	    background-size: 20px 10px;
	}
	/* Ticker */
	.es-ticker .es-play span {
	    background: url(../images/ticker@2x.png) no-repeat 0 0;
	    background-size: 40px 20px;
	}
	.es-ticker .es-pause span {
	    background: url(../images/ticker@2x.png) no-repeat -20px 0;
	    background-size: 40px 20px;
	}
}