@font-face {
  font-family: helveticaUltra;
  src: url(../fonts/helvetica-ultra-compressed-1361520779.ttf);
}
body {
  color: #676767;
  font-size: 12px;
}
img { max-width: 100%; }
a, 
a:focus,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
}
a {
  color: #428bca;
  font-weight: bold;
  font-size: 11px;
}
header .top-header {
  background: linear-gradient(#f2f2f2, #f7f7f7) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(#f2f2f2, #f7f7f7) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -o-linear-gradient(#f2f2f2, #f7f7f7) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(#f2f2f2, #f7f7f7) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-size: 10px;
}
header .top-header p {
  margin: 0;
  color: #6690a2;
  padding: 8px 0;
  display: inline-block;
}
header .top-header .social-links { text-align: right; }
header .top-header .social-links a:hover { color: #8d8d8d; }
header .top-header .search,
header .top-header .rss-feed,
header .top-header .contact-link,
header .top-header .social-icon {
  display: inline-block;
  padding: 0 7px;
  vertical-align: middle;
  color: #676767;
  line-height: 25px;
}
header .top-header .search i,
header .top-header .rss-feed i {
  font-size: 12px;
  margin-right: 8px;
}
header .top-header .social-icon a {
  padding-right: 0;
  font-size: 22px;
  color: #aeaeae;
  line-height: 28px;
}
header .top-header .search-box {
  display: inline-block;
  line-height: 20px;
  position: relative;
}
header .top-header .search-box .search {
  font-size: 10px;
  position: absolute;
  line-height: 22px;
}
header .top-header .search-box .display { display: inline-block; }
header .top-header .search-box form {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
header .top-header .search-box form .form-group { margin: 0; }
header .top-header .search-box form .form-group .form-control {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-radius: 3px;
  box-shadow: none;
  color: #676767;
  font-size: 11px;
  font-weight: bold;
  height: 22px;
  padding: 5px;
  width: 70px;
  padding-left: 25px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
header .top-header .search-box form .form-group .form-control:focus {
  width: 150px;
  background: #fff;
}
header .top-header .search-box form .form-group ::-webkit-input-placeholder { color: #676767; }
header .top-header .search-box form .form-group :-moz-placeholder { color: #676767; }
header .top-header .search-box form .form-group ::-moz-placeholder { color: #676767; }
header .top-header .search-box form .form-group :-ms-input-placeholder { color: #676767; }
header .top-header .rss-tip {
  display: none;
  position: absolute;
  background: #fcfcfc;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  width: 124px;
  padding: 5px 10px;
  z-index: 999;
  margin-top: -3px;
}
header .top-header .rss-tip .btn-sm {
  width: 100px;
  margin: 5px 0;
  padding: 3px;
}
header .top-header .rss { display: inline-block; }
header .top-header .rss:hover .rss-tip {
  display: inline-block;
  top: 110%;
  right: 28%;
}
header .top-header .rss:hover .rss-tip:before {
  content: " ";
  position: absolute;
  right: 20px;
  top: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fcfcfc;
  margin-top: -20px;
  margin-right: 20px;
}
header .top-header .rss:hover .rss-tip .btn:hover { color: #fff; }
header .main-header .navbar-default {
  background: linear-gradient(#fefefe, #fdfdfd, #fbfbfb) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(#fefefe, #fdfdfd, #fbfbfb) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -o-linear-gradient(#fefefe, #fdfdfd, #fbfbfb) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(#fefefe, #fdfdfd, #fbfbfb) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid transparent;
  margin-bottom: 0;
}
header .main-header .navbar-default .navbar-nav li.active:before {
  opacity: 1;
  visibility: visible;
}
header .main-header .navbar-default .navbar-nav li.active a {
  background-color: transparent;
  color: #fff;
}
header .main-header .navbar-default .navbar-nav li.active a:hover { color: #fff; }
header .main-header .navbar-default .navbar-nav li a {
  color: #676767;
  font-weight: bold;
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
  -webkit-transition: all 200ms linear 0s;
  transition: all 200ms linear 0s;
}
header .main-header .navbar-default .navbar-nav li a:hover { color: #8d8d8d; }
header .main-header .navbar-default .navbar-nav li a:active,
header .main-header .navbar-default .navbar-nav li a:focus { background-color: transparent; }
header .main-header .navbar-default .navbar-nav li:before {
  background: url("../images/nav-arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  content: "";
  height: 71px;
  left: 0;
  position: absolute;
  top: -7px;
  right: 0;
  background-size: 100% 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
header .main-header .navbar-default .navbar-nav li:hover:before {
  opacity: 1;
  visibility: visible;
}
header .main-header .navbar-default .navbar-nav li:hover a { color: #fff; }
header .main-header .navbar-default .navbar-collapse {
  float: right;
  padding: 0;
}
header .main-header .navbar-toggle { margin-top: 30px; }
header .main-header p {
  font-size: 12px;
  margin: 10px 0;
  text-align: right;
  display: inline-block;
  float: right;
}
header .main-header p a {
  text-decoration: underline;
  font-size: 12px;
  font-weight: normal;
}
header .main-header .navbar-brand {
  -webkit-transition: all 200ms linear 0s;
  transition: all 200ms linear 0s;
}
header .main-header .navbar-brand:hover { opacity: 0.6; }
#mainSlider {
  background: url("../images/slider-bg.png") repeat-x scroll center top rgba(0, 0, 0, 0);
  padding: 22px 0;
  font-size: 13px;
}
#mainSlider .select2-choice {
  font-size: 13px;
  color: #676767;
  font-weight: normal;
}
#mainSlider .col1,
#mainSlider .col2,
#mainSlider .col3 {
  display: inline-block;
  padding-right: 50px;
  margin-bottom: 15px;
}
#mainSlider .col1 strong {
  font-size: 14px;
  margin-right: 25px;
}
#mainSlider .col1 img {
  margin-bottom: 5px;
  margin-left: 10px;
}
#mainSlider .col2 .select2-container { margin-left: 10px; }
#mainSlider .col3 { padding-right: 0 !important; }
#mainSlider .col3 a {
  background: linear-gradient(#fcfcfc, #f5f5f5) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #eee;
  border-radius: 5px;
  margin-left: 7px;
  padding: 4px 12px;
  border-width: 1px 1px 2px;
  color: #676767;
  font-size: 13px;
  font-weight: normal;
}
#mainSlider .product-slider {
  position: relative;
  margin-top: 30px;
  height: 290px;
  background: url("../images/slider-main-bg.png") repeat-x scroll center bottom #ffffff;
}
#mainSlider .product-slider:before,
#mainSlider .product-slider:after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 42px;
  content: " ";
  display: block;
}
#mainSlider .product-slider:before {
  left: 0;
  background: url(../images/slider-left-corner.png) no-repeat right bottom #ffffff;
}
#mainSlider .product-slider:after {
  right: 0;
  background: url(../images/slider-right-corner.png) no-repeat right bottom #ffffff;
}
#mainSlider .product-slider .es-navigation a {
  top: 15%;
  z-index: 9;
}
#mainSlider .product-slider .es-navigation a span { height: 60px; }
#mainSlider .product-slider li { position: relative; }
#mainSlider .product-slider li a {
  color: #676767;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#mainSlider .product-slider li a:hover { opacity: 0.7; }
.p-img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.info a:hover { color: blue !important; }
#mainSlider .product-slider .featured-overlay { min-height: 130px; }
#mainSlider .product-slider .featured-overlay h5 {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
#mainSlider .product-slider .featured-overlay img { display: block; }
#mainSlider .product-slider .featured-overlay ul { margin-top: 5px; }
#mainSlider .product-slider .featured-overlay ul li {
  font-size: 10px;
  list-style-type: none;
}
#mainSlider .product-slider .featured-overlay div {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}
#mainSlider .product-slider .featured-overlay div img { display: inline-block !important; }
#mainSlider .product-slider .info {
  position: absolute;
  left: 33px;
  bottom: 0;
}
#mainSlider .product-slider .info a {
  color: #8d8d8d;
  font-size: 8px;
  display: inline-block;
  vertical-align: middle;
  width: 55px;
  margin-top: 10px;
  -webkit-transition: all 200ms linear 0s;
  transition: all 200ms linear 0s;
}
#mainSlider .product-slider .info a:hover { color: #5a5a5a; }
#mainSlider .product-slider .info a i {
  font-size: 15px;
  float: left;
  padding: 4px;
}
#mainSlider .view-all-products {
  text-align: right;
  margin-top: 5px;
  margin-right: 15px;
  font-weight: bold;
  font-size: 11px;
}
.select2-container .select2-choice,
.select2-container .select2-choice .select2-arrow {
  background: linear-gradient(to bottom, #ffffff, #e6e6e6);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #b3b3b3;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  line-height: 25px;
}
.select2-container .select2-choice .select2-arrow b { padding: 0 8px; }
.select2-container .select2-choice > .select2-chosen { text-shadow: 1px 1px #fff; }
#comparisons {
  background: url("../images/comparison-bg.png") repeat-x scroll center top #fefefe;
  padding: 30px 0;
}
#comparisons h5 {
  font-weight: bold;
  margin-bottom: 20px;
}
#comparisons .compare-module {
  background: none repeat scroll 0 0 #fefefe;
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  padding: 10px;
  color: #676767;
}
#comparisons .compare-module .select2-container .select2-choice > .select2-chosen {
  margin-right: 80px;
  font-size: 14px;
  color: #676767;
  font-weight: normal;
}
#comparisons .compare-module p { margin-bottom: 20px; }
#comparisons .compare-module h2 {
  font-family: helveticaUltra;
  margin: 5px 0;
}
#comparisons .compare-module .generate-btn a {
  background: url("../images/generate-buttons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #fff;
  display: inline-block;
  font-weight: bold;
  height: 33px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 6px 12px;
  font-size: 14px;
}
#comparisons .compare-module .generate-btn a:hover { background-position: 0 50%; }
#comparisons .compare-module .generate-btn a:active { background-position: 0 99%; }
#comparisons .comparing-cols {
  border-right: 1px solid #efefef;
  text-align: center;
}
#comparisons .comparing-cols:last-child { border: none; }
#comparisons .compare-img {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding: 5px;
}
#comparisons .compare-img:hover {
  opacity: 0.7;
  background: none repeat scroll 0 0 #f5f5f5;
}
#comparisons .compare-img:active { box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset; }
#comparisons .compare-img p {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 20px;
}
#comparisons .compare-img .compare-feature {
  margin-top: 25px;
  display: inline-block;
  vertical-align: middle;
}
#comparisons .compare-img .compare-feature p { margin-bottom: 0; }
#comparisons .compare-img a {
  font-weight: bold;
  font-size: 11px;
  margin-top: 0px;
  display: inline-block;
  vertical-align: top;
}
#comparisons .compare-img a p,
#comparisons .compare-img a .compare-feature {
  color: #676767;
}
#guide {
  background: url("../images/guide-bg.png") repeat-x scroll center top #fefefe;
  padding: 50px 0;
}
#guide h5 { font-weight: bold; }
#guide .report { text-align: right; }
.report { padding-left: 8px; }
#guide .report p {
  display: inline-block;
  margin: 0;
  cursor: pointer;
  padding: 6px 20px;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  position: relative;
}
#guide .report p img {
  left: -10px;
  position: absolute;
  top: 4px;
}
.report > p:hover { background: none repeat scroll 0 0 #f5f5f5; }
.report > p:active { box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset; }
#guide .guide-tabs {
  margin-top: 25px;
  float: left;
  margin-bottom: 25px;
}
#guide .guide-tabs .nav-tabs {
  padding: 0;
  border: none;
  float: left;
  width: 20%;
}
#guide .guide-tabs .nav-tabs li {
  float: none;
  margin-bottom: 0;
}
#guide .guide-tabs .nav-tabs li:first-child.active a:before { background: none; }
#guide .guide-tabs .nav-tabs li.active a {
  background: url("../images/active-tab-btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  text-transform: uppercase;
  z-index: 99;
  margin-right: -2px;
  border: 2px solid #efefef !important;
  border-right: none !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #676767;
  background-size: 100% 100%;
}
#guide .guide-tabs .nav-tabs li.active a:after {
  background: url("../images/tab-curve.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  content: "";
  height: 20px;
  position: absolute;
  right: -9px;
  bottom: -20px;
  width: 20px;
}
#guide .guide-tabs .nav-tabs li.active a:before {
  background: url("../images/tab-curve.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  content: "";
  height: 20px;
  position: absolute;
  right: 0;
  top: -11px;
  transform: rotate(90deg);
  width: 20px;
}
#guide .guide-tabs .nav-tabs li.active a img { opacity: 1; }
#guide .guide-tabs .nav-tabs li a {
  background: url("../images/tab-btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  margin-bottom: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 20px;
  font-size: 12px;
  color: #a7a7a7;
  text-shadow: 1px 1px #fff;
  margin-right: 0;
  background-size: 100% 100%;
}
#guide .guide-tabs .nav-tabs li a img { opacity: 0.4; }
#guide .guide-tabs .nav-tabs li a:hover {
  background-color: none;
  border: 1px solid transparent;
}
#guide .guide-tabs .nav-tabs li a img {
  float: left;
  margin-right: 10px;
}
#guide .guide-tabs .tab-content {
  border: 2px solid #efefef;
  background: #fafafa;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
  width: 80%;
  padding: 10px 10px;
}
#guide .guide-tabs .tab-content .tab-col:hover { background: #f5f5f5; }
#guide .guide-tabs .tab-content .tab-col a {
  color: #676767;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
}
#guide .guide-tabs .tab-content .tab-col a:active { box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset; }
#guide .guide-tabs .tab-content .tab-col img { float: left; }
#guide .guide-tabs .tab-content .tab-col h5 {
  font-size: 12px;
  font-weight: normal;
  margin-top: 2px;
  margin-bottom: 5px;
}
#guide .guide-tabs .tab-content .tab-col div { margin-left: 80px; }
#guide .guide-tabs .tab-content .tab-col p { font-size: 10px; }
footer {
  background: linear-gradient(#fbfbfb, #f7f7f7) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(#fbfbfb, #f7f7f7) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(#fbfbfb, #f7f7f7) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -o-linear-gradient(#fbfbfb, #f7f7f7) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
footer .upper-footer {
  padding: 20px 0;
  border: 1px solid #ddd;
}
footer .upper-footer .footer-content { padding: 8px 0; }
footer .upper-footer .col-md-6 { text-align: center; }
footer .upper-footer p {
  text-align: center;
  margin: 0;
  line-height: 20px;
}
footer .upper-footer .client-logos a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 35px;
  opacity: 0.6;
  -webkit-transition: all 200ms linear 0s;
  transition: all 200ms linear 0s;
}
footer .upper-footer .client-logos a:hover { opacity: 1; }
footer .upper-footer .client-logos a:last-child { margin-right: 0; }
footer .main-footer { padding: 20px 0; }
footer .main-footer .follow-link img { float: left; }
footer .main-footer .follow-link p {
  padding: 15px;
  background: #f2e5be;
  border-radius: 5px;
  margin-left: 70px;
  margin-bottom: 0;
  font-weight: bold;
}
footer .main-footer .social-links {
  background: #eef3f6;
  padding: 20px 10px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
}
footer .main-footer .social-links .addthis_native_toolbox {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
footer .main-footer .social-links .addthis_native_toolbox #twitter-widget-0 { width: 80px !important; }
footer .main-footer .social-links .addthis_native_toolbox #___plusone_0 { width: 70px !important; }
footer .main-footer .social-links .addthis_native_toolbox a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
footer .main-footer .social-links .addthis_native_toolbox .addthis_counter.addthis_pill_style:after {
  color: #676767;
  content: "|";
  font-size: 16px;
  position: absolute;
  top: 18px;
}
footer .main-footer .social-links .addthis_sharing_toolbox {
  display: inline-block;
  vertical-align: middle;
}
footer .lower-footer { padding-bottom: 5px; }
footer .lower-footer p {
  margin: 0;
  padding: 4px 0;
  font-size: 11px;
}
footer .lower-footer .footer-menus { text-align: right; }
footer .lower-footer .footer-menus li {
  display: inline-block;
  list-style-type: none;
}
footer .lower-footer .footer-menus li a {
  display: inline-block;
  padding: 4px 12px;
  color: #676767;
  font-size: 11px;
  border-radius: 5px;
}
footer .lower-footer .footer-menus li a:hover { background: #eee; color:#2A6496; }
@media (max-width: 768px) and (min-width: 750px) {
  .text-right { margin-right: 18px !important; }
}
@media (max-width: 715px) {
  #mainSlider .product-slider .info { bottom: -30px; }
  .col1, .col2 { width: 100%;  }
  .everslider.es-slides-ready { height: 290px; }  
}
@media (max-width: 660px) {
  #mainSlider .product-slider .info {
    bottom: -30px;
    left: 20px;
  }
}
@media (max-width: 630px) {
  #mainSlider .product-slider .info { bottom: -50px; }
}
@media (max-width: 990px) and (min-width: 480px){
  #guide .guide-tabs .nav-tabs li a img {
    width: 55px;
    margin-right: 25px;
  }
  .text-right { margin-right: 18px; }
}
@media (max-width: 990px) {
  .col-md-4 .follow-link { padding: 0 0 10px; }
  footer .lower-footer p { text-align: center; }
  footer .lower-footer .footer-menus {
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width: 430px) {
  #mainSlider .product-slider .info {
    bottom: -60px;
    left: 18px;
  }
}
@media (max-width: 400px) {
  #mainSlider .product-slider .info {
    bottom: -90px;
    left: 14px;
  }
  input.readmore { padding: 0 10px !important; }
  header .main-header .navbar-toggle { left: 35px; }
  header .main-header .navbar-brand { margin-left: -8px; }
}
.fixed { position: fixed; z-index: 999; width: 100%; height: 90px; box-shadow: 0 0 25px rgba(0, 0, 0, 0.125);}
.product-slider { height: 300px; }
@media (max-width: 1170px) {
  #guide .guide-tabs .nav-tabs li a img { width: 45px; }
  #guide .guide-tabs .nav-tabs li a,
  #guide .guide-tabs .nav-tabs li.active a {
    font-size: 10px;
  }
}
@media (max-width: 992px) {
  #myCol2, #myCol3, #myCol4 {
    display: inline-block;
    width: 32%;
    text-align: center !important;
  }
  #border-row { margin-left: 165px; }
  #myCol3 #compare-ico { margin-top: -150% !important; }
  .navbar-brand { padding: 0; }
  .fixed { height: 180px !important; }
  header .top-header { text-align: center; }
  header .top-header .social-links { text-align: center; }
  #comparisons .comparing-cols {
    margin: 25px 0;
    border: none;
    display: inline-block;
  }
  #guide .report { text-align: left; }
  header .main-header .navbar-header,
  header .main-header .navbar-brand {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  header .main-header .navbar-brand { margin-bottom: 10px; }
  .navbar-collapse,
  .navbar-nav {
    float: none;
    text-align: center;
    width: 100%;
  }
  .navbar-nav { font-size: 0; }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  header .main-header p {
    display: block;
    float: none;
    text-align: center;
  }
  .col1,
  .col2 {
    display: inline-block;
    text-align: center;
    width: 49%;
    padding: 0 !important;
  }
  .center-div { text-align: center; }
}
@media (max-width: 767px) {
  #border-row { margin-left: 0px !important; }
  .nav.navbar-nav {
    display: block;
    height: auto;
  }
  .nav.navbar-nav > li{
    display: inline-block;
    width: 91%;
    background: #f5f5f5;
    padding: 1px;
    text-align: left;
  }
  .nav.navbar-nav li:hover{
    background-color: #ccc !important;
    background-image: none;
  }
  header .main-header .navbar-default .navbar-nav li:before {
    background: none !important;
    background-image: none !important;
  }
  .active > a { background-image: none !important; background-color: #ccc !important; }

  header .main-header .navbar-brand { margin-top: -70px; }
  header .main-header .navbar-toggle { margin-top: 30px; }
  .fixed { height: 125px !important; }
  #comparisons .comparing-cols {
    margin: 25px 0;
    border: none;
  }
  #mainSlider .product-slider .info { padding-bottom: 10px; }
  .text-right { margin-right: 0px !important; }
}
.starRate { display: inline-block; }
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 75px;
  height: 15px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}

/*---------------------------------------------*/
/*---------------Comparison Page---------------*/
/*---------------------------------------------*/
#comp-product {
  background: url("../images/slider-bg.png") repeat-x scroll center top rgba(0, 0, 0, 0);
  padding: 22px 0 0 0;
  font-size: 13px;
}
#comp-product #the-title h5 {
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
}
#myCol3 #compare-ico {
  vertical-align: middle;
  margin-top: 50%;
}
#myCol2, #myCol3 { text-align: center; }
#myCol4 { text-align: center; }
.row-title {
  background-color: #ededed;
  color: #2c2c2c;
  font-size: 15px;
  width: 100%;
}
#bread { font-size: 14px; }
.table-head { width: 14%; }
.table-data {
  width: 23%;
  text-align: center;
}
#border-row {
  margin-left: 265px;
  margin-right: 0;
  border: 1px solid #ededed;
  padding: 10px 0;
}
#myCol2 { padding-right: 0 !important; padding-left: 30px !important; }
#myCol4 { padding-left: 0 !important; padding-right: 30px !important; }
#myCol2 img,
#myCol4 img {
 -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; 
}
#myCol2 img:hover,
#myCol4 img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.7;
}
.pro-title { font-weight: bold; }
#video-demo { display: block; padding: 5px; }
.starRate1 { display: inline-block; }
.star-rating1 {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 75px;
  height: 15px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating1 i {
  opacity: 1;
  position: absolute;
  left: 0px;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating1 input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating1 input:hover + i,
.star-rating1 input:checked + i {
  opacity: 1;
}
.star-rating1 i ~ i {
  width: 40%;
}
.star-rating1 i ~ i ~ i {
  width: 60%;
}
.star-rating1 i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating1 i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.starRate2 { display: inline-block; }
.star-rating2 {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 75px;
  height: 15px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating2 i {
  opacity: 1;
  position: absolute;
  left: -15px;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating2 input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating2 input:hover + i,
.star-rating2 input:checked + i {
  opacity: 1;
}
.star-rating2 i ~ i {
  width: 40%;
}
.star-rating2 i ~ i ~ i {
  width: 60%;
}
.star-rating2 i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating2 i ~ i ~ i ~ i ~ i {
  width: 100%;
}
input.readmore
{
  height: 33px; 
  line-height: 25px; 
  padding: 0px 25px; 
  color: #fff;
  background: #3F66A1;
  opacity: 0.90;
  border: none;
  margin-top: 8px;
  border-radius: 3px;
  margin-bottom: 5px;
  max-width: 100%;
}
.readmore:hover, 
.readmore:focus, 
.readmore:active
{
  text-shadow: 1px 1px 0 #5275AA;
  opacity: 1;
  cursor: pointer;
}
.alignright{ text-align: center; max-width: 100%; }

/*Product*/
.gradient-layer {
  background: url("../images/slider-bg.png") repeat-x scroll center top rgba(0, 0, 0, 0);
}
#product {
  padding: 30px 0;
}
.product-top-container {
  padding-bottom: 30px;
}
#product .top-features .back {
  color: #676767;
  padding: 10px 0;
}
#product .top-features .back i {
    margin-right: 5px;
}
#product .top-features p {
  display: inline-block;
  margin-left: 30px;
  padding: 10px 0;
  margin-bottom: 0;
}
#product .btn-container {
  float: right;
}
#product .btn-container a {
  margin-left: 15px;  
}
.btn-arrow-blue {
  background: url("../images/btn-arrow-blue.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #fff;
  display: inline-block;
  font-weight: bold;
  height: 32px;
  width: 172px;
  padding: 6px 12px;
  font-size: 14px;
}
.btn-arrow-blue:hover {
  background-position: 0 50%;
  color: #fff;
}
.btn-arrow-blue:active {
  background-position:  0 100%;
  color: #fff;
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #b3b3b3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #707070;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    font-weight: bold;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #e6e6e6;
    color: #707070;
}
.btn:hover, .btn:focus {
    background-position: 0 -15px;
    color: #707070;
    text-decoration: none;
    outline: none;
    transition: background-position 0.1s linear 0s;
    -moz-transition: background-position 0.1s linear 0s;
    -webkit-transition: background-position 0.1s linear 0s;
    -o-transition: background-position 0.1s linear 0s;
}
.btn.active, .btn:active,  {
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}
.product-tabs {
  margin-top: 20px; 
}
.product-tabs .nav-tabs {
  border-bottom: 0;
  text-align: center;
  font-size: 0;
}
.product-tabs .nav-tabs li {
  display: inline-block;
  float: none;

}
.product-tabs .nav a {
/*  float: left;*/
  margin: 0;
  border-radius: 0 !important;
  border-color: #d8d8d8;
  color: #787878;
  padding: 6px 12px;
  font-size: 13px;
  border-bottom: none;
}
.product-tabs .nav li:first-child a {
  border-top-left-radius: 4px !important;
}
.product-tabs .nav li:last-child a {
  border-top-right-radius: 4px !important;
}
.product-tabs .nav > li > a:hover, .product-tabs .nav > li > a:focus :active {
  background-color: #e6e6e6;
}
.product-tabs .nav > li.active a {
  color: #428bca;
  border-bottom: none;
  background-color: #e6e6e6;
  box-shadow: none;
  background: -webkit-linear-gradient(#e6e6e6, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#e6e6e6, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#e6e6e6, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#e6e6e6, #fff); /* Standard syntax (must be last) */
/*  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 4px #fff inset;*/
}
#product .tab-content {
  border: 2px solid #efefef;
  border-radius: 10px;
  padding: 25px;
  font-size: 15px;
  margin-top: -1px;
}
#product .tab-content .more {
  font-size: 15px;
  color: 104796;
  font-weight: normal;  
}
#product .specs-container {
   border-right: 1px solid #ddd;
   margin-top: 20px;
}
#product .specs-container:last-child {
  border-right: none;
}
#product .more {
  text-align: right;
  font-weight: normal;
  padding: 0 15px;
  display: block;
}
#product .specs h4 {
  font-size: 13px;
  color: #7d7d7d;
  font-weight: bold;
  display: inline-block;
  margin-top: 0;
}
#product .reviews {
  float: left;
}
#product .reviews p {
  margin: 0;
}
#product .specs .reviews img {
  float: right;
  margin-left: 10px;
}
#product .specs .key-spec {
  clear: both;
}
#product .specs img {
  float: left;
  margin-right: 10px;
  padding: 3px 0;
}
#product .concern a{
  display: block;
  font-weight: normal;
  color: #104796;
  font-size: 13px;
}
#product .concern a:hover {
  color: #3665b4;
}
#product .mid-product-section {
  padding-top: 30px;
  background: url("../images/single-product-bg.png") repeat-x scroll center top rgba(0, 0, 0, 0);
}
#product .mid-product-section h5 {
  font-weight: bold;
  font-size: 13px;
  margin-top: 0;
  color: #7d7d7d;
  display: inline-block;
  margin-bottom: 15px;
}
#product .mid-product-section a {
  font-weight: normal;
}
#product .facts {
  margin-top: 25px;
}
#product .facts .facts-links {
  font-size: 0;
}
#product .facts .facts-links a {
  display: inline-block;
  font-weight: normal;
  width: 50%;
  color: #104796;
  font-size: 13px;
}
#product .facts .facts-links a:hover {
  color: #3665b4;
}
#product .video-reviews {
  margin-top: 25px;
}
#product .video-reviews .tab-col:hover { background: #f5f5f5; }
#product .video-reviews .tab-col a {
  color: #676767;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
}
#product .video-reviews .tab-col a:active { box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset; }
#product .video-reviews .tab-col img { float: left; }
#product .video-reviews .tab-col h5 {
  font-size: 12px;
  font-weight: normal;
  margin-top: 2px;
  margin-bottom: 5px;
}
#product .video-reviews .tab-col div { margin-left: 80px; }
#product .video-reviews .tab-col p { font-size: 10px; }
.seperator-right {
 
  padding-right: 40px;
}
.compare-border {
  padding-left: 40px;
   border-left: 1px solid #ddd;
}
#product .compare-model .select2-container .select2-choice > .select2-chosen {
  width: 115px;
  text-align: center;
}
#product .compare-model .grey-arrow-btn {
  background: url(../images/grey-arrow-btn.png) no-repeat;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  height: 27px;
  padding: 4px;
  text-align: center;
  text-shadow: 1px 1px #000;
  width: 110px;
  margin-left: 20px;
}
#product .compare-model .grey-arrow-btn:hover {
  background-position: 0 50%;
}
#product .compare-model .grey-arrow-btn:active {
  background-position: 0 100%;
}
#product .common-comparison {
  margin-top: 25px;
}
#product .common-comparison .dark-col {
  background: #efefef;
}
#product .common-comparison .light-col {
  background: #f4f4f4;
}
#product .common-comparison .comp-col {
    font-size: 0;
    margin-bottom: 30px;
    position: relative;

}
#product .common-comparison .comp-col .dark-col {
  background: none repeat scroll 0 0 #efefef;
}
#product .common-comparison .comp-col .light-col {
  background: none repeat scroll 0 0 #f4f4f4;
}
#product .common-comparison .comp-col .dark-col, #product .common-comparison .comp-col .light-col {
  width: 50%;
  display: inline-block;
  padding: 5px 15px;
}
#product .versus {
    bottom: 0;
    left: 0;
    margin: -10px auto auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
} 
.dark-col > p, .light-col > p {
    font-size: 13px;
    font-weight: normal;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    width: 130px;
}
.dark-col > img, .light-col > img {
  height: 60px;
  float: left;
}
.product-slider {
  width: 90%;
  margin-top: 30px;
  background: url("images/product-banner.png") no-repeat scroll 50% 90% rgba(0, 0, 0, 0);
  height: auto;
}
.product-slider .main-img {
  text-align: center; 
}
.product-slider .main-slide-img {
  /*margin-bottom: 65px;*/
}
.product-slider .wp-caption.alignleft {
  display: inline-block;
  /*margin-top: 20px;*/
}
.product-slider .wp-caption.alignleft img {
  height: 50px;
  width: 50px;
  /*margin: 0 5px;*/
  border: 1px solid #000;
}
.product-slider .wp-caption.alignleft:first-child img {
  margin-left: 0;
}
.product-slider .wp-caption.alignleft:last-child img {
  margin-right: 0;
}
.product-slider .bx-wrapper .bx-viewport {
  background: none;
  box-shadow: none;
  border: none;
  left: 0;
}
.product-slider .bx-wrapper .bx-prev {
  background: url("../images/left-product-arrow.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
  left: -12px;
  z-index: 1;
}
.product-slider .bx-wrapper .bx-next {
  background: url("../images/right-product-arrow.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
  right: -32px;
  z-index: 1;
}
/* My Changes */
.tab-content p{
  font-size:12px;
  text-align: justify;
  line-height: 20px;
}
.quote-review h1{
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  color: #7d7d7d;
}
.review-border{
  display: block;
  text-align: center;
}
.review p img{
  max-width: 2%;
  margin-top: -10px; 
  margin-right: 3px;
  margin-left: 3px;
}
.quote-review{
  text-indent: 45px;
  background: red;
}
.quote-review:before{
  /*content: open-quote;*/
  /*content: url(../images/left-quotes.png);*/  
    content: " ";
    background: url(../images/left-quotes1.png) no-repeat center top;
    text-align: left;  
    line-height: 42px;  
    left: 0px;
    /*margin-top: 85px;*/
    top: 270px;
    float: left;  
    z-index:-1;
    position: absolute;  
    display: block;  
    height: 100px;  
    width: 100px; 
}
.quote-review:after{
  /*content: close-quote;*/
  /*content: url(../images/right-quotes.png);  */
    content: " ";
    background: url(../images/right-quotes1.png) no-repeat center top;
    text-align: right;  
    line-height: 42px;  
    right: 10px;
    margin-top: -15px;
    float: right;  
    position: absolute;  
    z-index:-1;
    display: block;  
    height: 100px;  
    width: 100px; 
}
.below-image{
  margin-top: -71px;
}
.below-image img{
  z-index: -1;
  position: relative;
}
.key-spec-text{
  float: left;
  text-indent: 10px;
  margin-top: -2px;
  color: #676767;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
}
.specification-key{
  float: left;
  width: 200px;
  height: auto;

}
.fancybox-popup img{
/*  z-index: 2;
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  position: relative;*/
}
.tab-inner-review{
  display: block;
  float: left;
  width:200px;
  margin-right: 15px;
}
.tab-inner-main{
  display: block;
  width: 100%;
  height: auto;
  float: left;
}
.vibratim-facts-content{
  text-align: justify;
}
.common-comparison .comp-col:hover .dark-col{
  background: #e5e5e5 !important;
  trasition: all 1s ease-in-out 1s;
}
.common-comparison .comp-col:hover .light-col{
  background: #efefef !important;
  trasition: all 1s ease-in-out 1s;
}
.main-img a span { display:none; background-image:url(../images/zoom-black.png); background-repeat:no-repeat; width:48px; height:48px; position:absolute; left:80px; top:0;}
.main-img:hover span { display:block; cursor: pointer;}
.main-img:hover{opacity: 0.8;}
.bx-wrapper{margin-top: -10px !important;}
/*.product-slider-video-button{background: url(../images/product-slider-video-button.png) no-repeat center top; position: absolute; z-index: 999;}*/
/* My Changes */



/* Loader Bar */

ul#loadbar {
  list-style:none;
  width:100%;
  display: block;
  height: 25px;
  padding: 0;
  margin:0 auto;
/*  padding-top:50px;
  padding-bottom:75px;*/
}
ul#loadbar li {
  float:left;
  position:relative;
  width:3px;
  height:10px;
  margin-left:1px;
  border-radius: 1px;
/*  border-left:1px solid #111; border-top:1px solid #111; border-right:1px solid #333; border-bottom:1px solid #333; */
  background:#8f8f8f;
}

ul#loadbar li:first-child { margin-left:0; }

.ins .bar {
  background-color:#19CF1C;  
/*  background-image: -moz-linear-gradient(45deg, #2187e7 25%, #a0eaff); 
  background-image: -webkit-linear-gradient(45deg, #2187e7 25%, #a0eaff);*/
  width:3px;
  height:10px;
  opacity:0;
    border-radius: 1px;
  box-shadow: 0 0 1px #FFF;
  -webkit-animation:fill .5s linear forwards;
  -moz-animation:fill .5s linear forwards;
}

#layerFill1 { -moz-animation-delay:0.5s; -webkit-animation-delay:0.5s; }
#layerFill2 { -moz-animation-delay:1s; -webkit-animation-delay:1s; }
#layerFill3 { -moz-animation-delay:1.5s; -webkit-animation-delay:1.5s; }
#layerFill4 { -moz-animation-delay:2s; -webkit-animation-delay:2s; }
#layerFill5 { -moz-animation-delay:2.5s; -webkit-animation-delay:2.5s; }
#layerFill6 { -moz-animation-delay:3s; -webkit-animation-delay:3s; }
#layerFill7 { -moz-animation-delay:3.5s; -webkit-animation-delay:3.5s; }
#layerFill8 { -moz-animation-delay:4s; -webkit-animation-delay:4s; }
#layerFill9 { -moz-animation-delay:4.5s; -webkit-animation-delay:4.5s; }
#layerFill10 { -moz-animation-delay:5s; -webkit-animation-delay:5s; }

@-moz-keyframes fill {
  0%{ opacity:0; }
  100%{ opacity:1; }  
}

@-webkit-keyframes fill {
  0%{ opacity:0; }
  100%{ opacity:1; }  
}